$size: 350px;

.wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: auto;
    padding: 0 15px 15px;
    width: $size * 2 + 15px;
    transform: translate(-50%, -50%);
    border: 5px solid #DDD;
    text-align: center;

    &:after {
        content: '';
        display: table;
        width: 100%;
        clear: both;
    }
}

INPUT[type="range"] {
    width: 80%;
    margin: 1.5rem 1rem 1.5rem 0;
}

.cells-in-line {
    display: inline-block;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    background: #DDD;
    text-align: center;
    line-height: 2.5rem;
    font-weight: bold;
    font-size: 1.5rem;
}

.output {
    float: right;
    width: $size;
    height: $size;
    padding: .5rem;
    box-sizing: border-box;
    border: 1px solid #888;
    box-shadow: inset 0 0 10px 3px rgba(0,0,0,.3);
    font-size: 1rem;
    font-family: Courier, monospace;
}

.cells {
    float: left;
    width: $size;
    height: $size;
    box-shadow: inset 0 0 0 2px rgba(0,0,0,.7);
    background:
        linear-gradient( to right,
            rgba(0,0,0,0) 49.5%,
            hsla(0,100%,50%,.5) 49.5%,
            hsla(0,100%,50%,.5) 50.5%,
            rgba(0,0,0,0) 50.5%
        ),
        linear-gradient( to bottom,
            rgba(0,0,0,0) 49.5%,
            hsla(0,100%,50%,.5) 49.5%,
            hsla(0,100%,50%,.5) 50.5%,
            rgba(0,0,0,0) 50.5%
        );
    }

.cells-content {
    background: pink;
}

INPUT[type="checkbox"] {
    display: none;
}

.label {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    box-shadow: inset 0 0 0 1px rgba(0,0,0,.7);
    cursor: pointer;

    :checked + & {
        background: #333;
    }
}

.cell {
    position: relative;
    float: left;
}

.palette {
    clear: both;
    padding-top: 2rem;

    .cell,
    .label {
        // border-radius: 50%;
        }
    }