.gnr-html {
  font-size: 16px; }

.gnr-body {
  min-width: 800px;
  margin: 0;
  background: #EEE;
  color: #000;
  font: 15px/1.5 Trebuchet MS, sans-serif; }

H1,
H2,
H3 {
  margin-top: 0;
  margin-bottom: .8em;
  font-weight: normal; }

A {
  color: royalblue; }
  A:hover {
    text-decoration: none; }

UL,
LI {
  padding: 0;
  margin: 0;
  list-style: none; }

.gnr-hidden {
  display: none; }

.gnr-page {
  margin: 2rem auto;
  padding: 2rem 3rem 3rem;
  width: 80%;
  min-width: 800px;
  max-width: 1200px;
  box-sizing: content-box;
  background: #FFF;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); }

.gnr-page__header {
  position: relative;
  margin-bottom: 2.65rem;
  padding: 1rem 0;
  border-bottom: 3px solid #EEE; }

.gnr-page__title {
  margin-bottom: 0;
  text-align: center;
  font-size: 2em; }

.gnr-page__container {
  display: flex;
  justify-content: space-between; }

.gnr-page__footer {
  margin-top: 3rem;
  padding-top: 1rem;
  border-top: 3px solid #EEE;
  display: flex;
  justify-content: space-between; }

.gnr-page__langs {
  position: absolute;
  top: 0;
  right: 0;
  display: flex; }
  .gnr-page__langs A:not([href]) {
    font-weight: bold;
    color: inherit; }

.gnr-page__langs-item + .gnr-page__langs-item {
  margin-left: .5rem; }

.gnr-column {
  width: 48%; }

.gnr-column__title {
  font-size: 1.5em; }

.gnr-tree {
  min-height: 200px;
  padding: 1rem;
  box-sizing: border-box;
  border: 1px solid #DDD;
  display: flex;
  justify-content: center;
  align-items: center; }

.gnr-tree__placeholder {
  width: 80%;
  text-align: center;
  font-size: 14px;
  color: #999; }

.gnr-tree__content {
  max-width: 100%; }

/* Level
------------------------------ */
.gnr-level {
  position: relative;
  margin-bottom: .5rem;
  margin-left: 1.2rem;
  background: linear-gradient(to right, lawngreen 1px, transparent 2px);
  background-repeat: no-repeat;
  background-position: 10px 0; }
  .gnr-level::before {
    content: "";
    display: block;
    position: absolute;
    z-index: 0;
    left: -1px;
    bottom: 0;
    width: 2rem;
    margin-left: 10px;
    height: 10px;
    background: white;
    border-top: 1px solid lawngreen; }
  .gnr-level--0::before {
    height: 10px; }

.gnr-level__item {
  position: relative; }
  .gnr-level__item::before {
    content: "";
    display: block;
    position: absolute;
    width: .7rem;
    height: .08rem;
    margin-left: -.55rem;
    margin-top: .6rem;
    background: lawngreen; }
  .gnr-level--0 > .gnr-level__item::before {
    content: none; }

.gnr-elem {
  padding-left: .3rem;
  background: white; }

.gnr-elem__tag {
  background: #FFF;
  color: royalblue; }

.gnr-class__dot {
  position: relative;
  padding: 0 .05em;
  font-size: 1.2em;
  line-height: 1; }

.gnr-class__item {
  white-space: nowrap;
  cursor: pointer; }

.gnr-code-input {
  width: 100%;
  height: 200px;
  margin-bottom: 2rem;
  padding: .75rem;
  box-sizing: border-box;
  border: 1px solid #CCC;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2) inset;
  font: inherit;
  line-height: 1.3; }

.gnr-code-output {
  display: none; }

.gnr-deep__title {
  font-size: 1.17em; }

.gnr-deep__digit {
  display: inline-block;
  font-weight: bold;
  color: crimson; }

.gnr-deep__range {
  width: 100%;
  margin: 0;
  cursor: pointer; }

.gnr-messages {
  margin-top: 2rem; }

.gnr-message {
  margin-top: .75rem; }
  .gnr-message:first-child {
    margin-top: 0; }

.gnr-message__content {
  padding: .75rem;
  background: lemonchiffon; }

.headers__list {
  margin: 0;
  display: flex;
  flex-wrap: wrap; }

.headers__item {
  margin-left: .5rem; }
  .headers__item--notfound {
    opacity: .3; }

.gnr-message--headers-tree {
  margin-top: 2rem; }

.gnr-message__content--headers-tree {
  background: #d7ebad;
  font-size: 10px;
  /* stylelint-disable no-descending-specificity */
  /* stylelint-enable no-descending-specificity */ }
  .gnr-message__content--headers-tree H1,
  .gnr-message__content--headers-tree H2,
  .gnr-message__content--headers-tree H3,
  .gnr-message__content--headers-tree H4,
  .gnr-message__content--headers-tree H5,
  .gnr-message__content--headers-tree H6 {
    margin-top: 0;
    margin-bottom: .85rem;
    line-height: 1.1;
    font-weight: bold; }
    .gnr-message__content--headers-tree H1:last-child,
    .gnr-message__content--headers-tree H2:last-child,
    .gnr-message__content--headers-tree H3:last-child,
    .gnr-message__content--headers-tree H4:last-child,
    .gnr-message__content--headers-tree H5:last-child,
    .gnr-message__content--headers-tree H6:last-child {
      margin-bottom: 0; }
    .gnr-message__content--headers-tree H1 SPAN,
    .gnr-message__content--headers-tree H2 SPAN,
    .gnr-message__content--headers-tree H3 SPAN,
    .gnr-message__content--headers-tree H4 SPAN,
    .gnr-message__content--headers-tree H5 SPAN,
    .gnr-message__content--headers-tree H6 SPAN {
      font-size: .75em;
      opacity: .5; }
  .gnr-message__content--headers-tree H1 {
    font-size: 2em; }
  .gnr-message__content--headers-tree H2 {
    margin-left: 1rem;
    font-size: 1.75em; }
  .gnr-message__content--headers-tree H3 {
    margin-left: 3rem;
    font-size: 1.5em; }
  .gnr-message__content--headers-tree H4 {
    margin-left: 4rem;
    font-size: 1.25em; }
  .gnr-message__content--headers-tree H5 {
    margin-left: 5rem;
    font-size: 1em; }
  .gnr-message__content--headers-tree H6 {
    margin-left: 6rem;
    font-size: .75em; }

.gnr-highlight-bem {
  box-shadow: -0.2em 0 0 0 gold, 0.2em 0 0 0 gold;
  background: gold; }

[data-color="fuchsia"] {
  box-shadow: -0.2em 0 0 0 fuchsia, 0.2em 0 0 0 fuchsia;
  background: fuchsia; }

[data-color="yellow"] {
  box-shadow: -0.2em 0 0 0 yellow, 0.2em 0 0 0 yellow;
  background: yellow; }

[data-color="lime"] {
  box-shadow: -0.2em 0 0 0 lime, 0.2em 0 0 0 lime;
  background: lime; }

[data-color="aqua"] {
  box-shadow: -0.2em 0 0 0 aqua, 0.2em 0 0 0 aqua;
  background: aqua; }
